@{
    ViewData["Title"] = "Home Page";
}
@model RomanNumeral.Models.RomanNumeralViewModel;
    <div class="container">
        <h2>Roman Numeral Converter</h2>
        <br />
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.NumberToConvert)
                @Html.TextBoxFor(model => model.NumberToConvert, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumberToConvert, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RomanNumeral)
                @Html.TextBoxFor(model => model.RomanNumeral, new { @readonly = "readonly", @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Convert" />
            </div>
        }
    </div>
